body {
  font-family: "Poppins", sans-serif;
  background-color: #8a1212;
  font-size: 1.5rem;
}
header {
  background-color: #4b0404;
  text-align: center;
  padding: 2rem 0;
  color: white;
}

header h1 {
  margin: 0;
}

main {
  padding: 2rem;
  text-align: center;
}
.container {
  color: #ffc4c4;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.container h2 {
  color: #4b0404;
}

.gallery img {
  width: 150px;
  height: 150px;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.1);
}

footer {
  background-color: #4b0404;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 10px;
  color: white;
  z-index: 1000;
}

button {
  background-color: #ff3131;
  border-radius: 0.5rem;
  font-size: 15px;
  width: 5rem;
  height: 2rem;
  align-items: center;
  font-size: 1.5rem;
  color: #ffc4c4;
  border: none;
}
